
/* 

Project Name: Personal Portfolio
Date:  2/9/23
File Name: site.css 
Description: CSS styling for all of the pages included in the personal portfolio.

Resources: Some code and id's were provided by Professor Krasso, other codes that helped me build this are from: https://www.w3schools.com/html/
Fonts are from Google Fonts 
*/



body {
  background-color: #fff;
  font-family: 'Oswald', 'Lato', Verdana, Arial, sans-serif;
}

p { font-family: 'Oswald', 'Lato', Verdana, Arial, sans-serif;
    font-weight: 400; 
    line-height: 1.4em;

}

hr {
  width: 250px;
  height: 3px;
  background-color: #586F80;
  border: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Navigation Styling */


.topnav {
  background-color: #586F80;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #61BEFF;
  color: black;
}

/* End of Navigation Styling */

/* Link Styling */
a:link {
  color: #000;
}

a:visited {
  color: #61BEFF;
}

/* Header */


#header {
    background: #586F80;
    height: auto;
    padding: 50px 50px;
    border-bottom: 2px solid #61BEFF;
}
h1 {
    color: white;
    font-family: 'Lato';
    text-align: center;
    text-transform: none;
    text-shadow: 1px 1px 1px #4E6474;
}

/* End of Header */

/* Footer Styling */

#footer {
    font-size: 12px;
    text-align: center;
    height: 50px;
    border-top: 1px solid #61BEFF;
    padding: 15px 0 15px 0;
    font-style: italic;
    background-color: #586F80;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Card styling */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 600px;
    margin: 3% auto 0;
    background-color: var(--card-background-color); /* added */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: var(--card-title-color); /* replaced */
    font-weight: 400;
}

/* End of Card Styling */

/* Container Styling */

.container {
  width: 500px;
  height: auto;
}

/* Grid */

#projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(80px, auto);
}

/* List Styling */

.ul {list-style-type: inside;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size:20px;
    background-color: none;}

/* End of List Styling */

/* Img styling */ 

.img1 {
  float: left;
  padding: 10px;
}

.img2 {
  float: left;
  padding: 10px;
}

/* End of Img styling */

